{{extend './layout/frame.html'}}

{{block 'style'}}
    <link rel="stylesheet" href="/assets/css/page-cart.css">
{{/block}}

{{block 'content'}}
    <div class="py-container">
        <div class="allgoods"></div>
    </div>
{{/block}}


{{block 'script'}} 
<script src="/assets/js/template-web.js"></script>
<script>
    template.defaults.rules[0].test = /<\?(#?)((?:==|=#|[=-])?)[ \t]*([\w\W]*?)[ \t]*(-?)\?>/
</script>
<script type="text/html" id='cart_template'>
    <br>
    {{if !user}}
    <div class="sui-msg msg-large msg-block msg-warning">
        <div class="msg-con">
            您还没有登录！登录后购物车的商品将保存到您账号中
            <a href="/login" class="sui-btn btn-xmiddle btn-danger">立即登录</a>
        </div>
        <s class="msg-icon"></s>
    </div>
    {{/if}}
    <div class="cart-main">
        <div class="yui3-g cart-th">
            <div class="yui3-u-1-24"><input checked type="checkbox"></div>
            <div class="yui3-u-12-24">商品</div>
            <div class="yui3-u-3-24">单价（元）</div>
            <div class="yui3-u-3-24">数量</div>
            <div class="yui3-u-4-24">小计（元）</div>
            <div class="yui3-u-1-24">操作</div>
        </div>
        <div class="cart-item-list">
            <div class="cart-body">
                <div class="cart-list">
                    <? var count = 0, totalPrice = 0  ?>
                    <? for(var i=0;i<list.length;i++) { ?> 
                    <? var item = list[i]?>
                    <? if(item.isChecked) {
                        count += +item.amount
                        totalPrice += item.amount * item.price
                    } ?>

                    <ul class="goods-list yui3-g">
                        <li class="yui3-u-1-24"><input type="checkbox" <?=item.isChecked ? "checked" : " " ?> data-id="<?=item.id?>"></li>
                        <li class="yui3-u-12-24">
                            <div class="good-item">
                            <div class="item-img">
                                <img src="<?= item.thumbnail ?>">
                            </div>
                            <div class="item-msg"><?=item.name?></div>
                            </div>
                        </li>
                        <li class="yui3-u-3-24">
                            <span class="price"><?=item.price?></span>
                        </li>
                        <li class="yui3-u-3-24">
                            <a data-id="<?=item.id?>" href="javascript:;" class="increment mins">-</a>
                            <input autocomplete="off" type="text" value="<?= item.amount ?>" minnum="1" class="itxt">
                            <a data-id="<?=item.id?>" href="javascript:;" class="increment plus">+</a>
                        </li>
                        <li class="yui3-u-4-24">
                            <span class="sum">&yen; <?=(item.amount * item.price).toFixed(2)?></span>
                        </li>
                        <li class="yui3-u-1-24">
                            <a data-id="<?=item.id?>" href="javascript:;" class="btn-delete">删除</a>
                        </li>
                    </ul>
                    <? } ?>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-tool">
        <div class="money-box">
            <div class="sumprice">
            <span> 共 <strong><?= count?></strong> 件商品</span><br>
            <span><em>总价（不含运费）：</em><i class="summoney">¥<?= totalPrice.toFixed(2) ?></i></span>
            </div>
            <div class="sumbtn">
            <a class="sum-btn" href="javascript:;">提交订单</a>
            </div>
        </div>
    </div>

</script>

<script>
    $.get('/cart/find', (data) => {
            // console.log(data)
            const list = data.map(item => {
                item.isChecked = true
                return item
            })
            window.list = list
            $('.allgoods').html(template('cart_template', {list:window.list}))
        })
  
    $('.allgoods')
        // 商品数量增减
        .on('click', '.increment', function () {
            var id = $(this).data('id')
            var amount = $(this).siblings('input').val()
            var isMin = $(this).hasClass('mins')
            if (isMin) {
                if (amount < 2) return
                amount--
            } else {
                amount++
            }
            $.post('/cart/edit', { id, amount }, function (data) {
                if (data.success) {
                    var cart = list.find(item => item.id == id)
                    cart.amount = amount
                    $('.allgoods').html(template('cart_template', { list: window.list }))

                } else {
                    alert('修改失败')
                }
            })
        })       
        // 购物车删除功能
        .on('click', '.btn-delete', function () {
            var id = this.dataset.id
            $.post('/cart/remove',{id},function (data) {
                if(data.success) {
                    var index = list.findIndex(item => item.id == id)
                    list.splice(index,1)
                    $('.allgoods').html(template('cart_template', {list}))
                }else {
                    alert('操作失败，请刷新页面再试！')
                }
            })
        })
        
        // 全选反选
        .on('change','.cart-th input[type=checkbox]',function () {
            const isTrue = $(this).prop('checked')
            $('.cart-body input[type=checkbox]').prop('checked',isTrue)
            const list = window.list.map(item => {
                item.isChecked = isTrue
                return item
            })
            window.list = list
            $('.allgoods').html(template('cart_template', {list: window.list}))

            var len = $('.cart-body input[type=checkbox]:checked').length
            var len2 = $('.cart-body input[type=checkbox]').length
            $('.cart-th input[type=checkbox]').prop('checked',len == len2)
        })
        // 反选
        .on('change','.cart-body input[type=checkbox]',function () {
            var id = this.dataset.id
            const cart = window.list.find(item => item.id == id)
            cart.isChecked = $(this).prop('checked')
            $('.allgoods').html(template('cart_template', {list: window.list}))

            var len = $('.cart-body input[type=checkbox]:checked').length
            var len2 = $('.cart-body input[type=checkbox]').length
            $('.cart-th input[type=checkbox]').prop('checked', len == len2)  
        })
        //生成订单
        .on('click','.sum-btn',function () {
            var $inputs = $('.cart-body input[type=checkbox]:checked')
            var idArr = []
            $inputs.each(function(i,item) {
                idArr.push(item.dataset.id)
            })
            var idStr = idArr.join()
            location.href = '/order/create?ids=' + idStr
        })
</script>
{{/block}}

